---
swagger: "2.0"
info:
  description: "Retrieves, syncs, and deletes administration data"
  version: "v1"
  title: "ADMINISTRATION"
  termsOfService: "dd"
  contact: {}
  license: {}
host: "cddirector.io"
basePath: "/cdd/administration/0000/v1"
tags:
- name: "email-notification-server"
  description: "Email Notification Server"
- name: "parties"
  description: "Combined methods for users and user-groups"
- name: "payment-plan-controller"
  description: "Payment Plan Controller"
- name: "version"
  description: "Info about the current version & build"
- name: "administration"
  description: "api access token"
- name: "design"
  description: "session"
- name: "invitation-controller"
  description: "Invitation Controller"
- name: "api"
  description: "All the REST API documentation"
- name: "directory-server-controller"
  description: "Directory Server Controller"
paths:
  /adaptive-testing/connectivity-tests:
    post:
      tags:
      - "system-preferences"
      summary: "Connectivity Test for Adaptive Testing Services"
      operationId: "testMicroservicesConnectivityUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "servicesDto"
        description: "servicesDto"
        required: true
        schema:
          $ref: "#/definitions/MicroservicesDto"
        x-exportParamName: "ServicesDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ConnectableEntityDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /api:
    get:
      tags:
      - "api"
      summary: "Retrieves the API documentation"
      operationId: "getApiDocumentationUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "group"
        in: "query"
        description: "groupName"
        required: false
        type: "string"
        x-exportParamName: "Group"
        x-optionalDataType: "String"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Json"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /api-access-tokens:
    get:
      tags:
      - "api-access-token"
      summary: "get all user api access token"
      operationId: "getApiAccessTokensUsingGET_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "api-access-token"
      summary: "Create api access token"
      operationId: "createApiAccessTokenUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApiAccessTokenDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "api-access-token"
      summary: "delete all user api access tokens"
      operationId: "deleteApiAccessTokensUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /api-access-tokens/{apiAccessTokenId}:
    get:
      tags:
      - "api-access-token"
      summary: "get user api access token"
      operationId: "getApiAccessTokensUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "apiAccessTokenId"
        in: "path"
        description: "apiAccessTokenId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApiAccessTokenId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApiAccessTokenDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "api-access-token"
      summary: "delete user api access token"
      operationId: "deleteApiAccessTokenUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "apiAccessTokenId"
        in: "path"
        description: "apiAccessTokenId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApiAccessTokenId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /application-sources:
    get:
      tags:
      - "application-source"
      summary: "Retrieves all application sources"
      operationId: "getAllApplicationSourcesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "application-source"
      summary: "Creates an application source"
      operationId: "createApplicationSourceUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "applicationSourceDto"
        description: "applicationSourceDto"
        required: true
        schema:
          $ref: "#/definitions/ApplicationSourceDto"
        x-exportParamName: "ApplicationSourceDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationSourceDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /application-sources/{applicationSourceId}:
    delete:
      tags:
      - "application-source"
      summary: "Deletes an application source"
      operationId: "deleteApplicationSourceUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationSourceId"
        in: "path"
        description: "applicationSourceId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationSourceId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /application-sources/{applicationSourceId}/sync:
    patch:
      tags:
      - "application-source"
      summary: "Syncs an application source"
      operationId: "syncApplicationSourceUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationSourceId"
        in: "path"
        description: "applicationSourceId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationSourceId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationSourceDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /applications:
    get:
      tags:
      - "application"
      summary: "Retrieves all applications"
      operationId: "getAllApplicationsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "freeTextFilter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "embed"
        in: "query"
        description: "embedFields"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Embed"
      - name: "name"
        in: "query"
        description: "nameFilter"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "page_number"
        in: "query"
        description: "pageNumber"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PagedResultDto«ApplicationDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "application"
      summary: "Creates an application"
      operationId: "createApplicationUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "applicationDto"
        description: "applicationDto"
        required: true
        schema:
          $ref: "#/definitions/ApplicationDto"
        x-exportParamName: "ApplicationDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /applications/dsl-manifest:
    get:
      tags:
      - "dsl"
      summary: "Export Applications And Environments"
      operationId: "exportApplicationsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "disposition_type"
        in: "query"
        description: "dispositionTypeDto"
        required: false
        type: "string"
        enum:
        - "INLINE"
        - "ATTACHMENT"
        x-exportParamName: "DispositionType"
        x-optionalDataType: "String"
      - name: "application"
        in: "query"
        description: "applicationIds"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
        x-exportParamName: "Application"
      - name: "embed"
        in: "query"
        description: "embedFields"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Embed"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DslTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /applications/{applicationId}:
    get:
      tags:
      - "application"
      summary: "Retrieves an application"
      operationId: "getApplicationUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "application"
      summary: "Updates an application"
      operationId: "updateApplicationUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      - in: "body"
        name: "applicationDto"
        description: "applicationDto"
        required: true
        schema:
          $ref: "#/definitions/ApplicationDto"
        x-exportParamName: "ApplicationDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "application"
      summary: "Deletes an application"
      operationId: "deleteApplicationUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    patch:
      tags:
      - "application"
      summary: "Patches an application"
      operationId: "patchApplicationUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      - in: "body"
        name: "applicationDto"
        description: "applicationDto"
        required: true
        schema:
          $ref: "#/definitions/ApplicationDto"
        x-exportParamName: "ApplicationDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /applications/{applicationId}/application-versions/{applicationVersionId}/test-sources/dsl-manifest:
    get:
      tags:
      - "dsl"
      summary: "Export test sources"
      operationId: "exportTestSourcesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "disposition_type"
        in: "query"
        description: "dispositionTypeDto"
        required: false
        type: "string"
        enum:
        - "INLINE"
        - "ATTACHMENT"
        x-exportParamName: "DispositionType"
        x-optionalDataType: "String"
      - name: "applicationVersionId"
        in: "path"
        description: "applicationVersionId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationVersionId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DslTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /applications/{applicationId}/application-versions/{applicationVersionId}/test-sources/{testSourceId}/dsl-manifest:
    get:
      tags:
      - "dsl"
      summary: "Export test source"
      operationId: "exportTestSourceUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "disposition_type"
        in: "query"
        description: "dispositionTypeDto"
        required: false
        type: "string"
        enum:
        - "INLINE"
        - "ATTACHMENT"
        x-exportParamName: "DispositionType"
        x-optionalDataType: "String"
      - name: "applicationVersionId"
        in: "path"
        description: "applicationVersionId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationVersionId"
      - name: "testSourceId"
        in: "path"
        description: "testSourceId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TestSourceId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DslTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /applications/{applicationId}/environments:
    get:
      tags:
      - "environment"
      summary: "Get application environments"
      operationId: "getEnvironmentsAtApplicationUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      - name: "name"
        in: "query"
        description: "environmentName"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«EnvironmentDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "environment"
      summary: "Create an environment"
      operationId: "createEnvironmentAtApplicationUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      - in: "body"
        name: "environmentDto"
        description: "environmentDto"
        required: true
        schema:
          $ref: "#/definitions/EnvironmentDto"
        x-exportParamName: "EnvironmentDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /applications/{applicationId}/environments-version:
    get:
      tags:
      - "application"
      summary: "Get an application report"
      operationId: "getApplicationReportUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ApplicationReportDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /applications/{applicationId}/environments/{environmentId}:
    get:
      tags:
      - "environment"
      summary: "Get an environment at application"
      operationId: "getEnvironmentAtApplicationUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      - name: "environmentId"
        in: "path"
        description: "environmentId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EnvironmentId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "environment"
      summary: "Update an environment at application"
      operationId: "updateEnvironmentAtApplicationUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "environmentId"
        in: "path"
        description: "environmentId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EnvironmentId"
      - in: "body"
        name: "environmentDto"
        description: "environmentDto"
        required: true
        schema:
          $ref: "#/definitions/EnvironmentDto"
        x-exportParamName: "EnvironmentDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "environment"
      summary: "Delete an environment"
      operationId: "deleteEnvironmentUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "applicationId"
        in: "path"
        description: "applicationId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ApplicationId"
      - name: "environmentId"
        in: "path"
        description: "environmentId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EnvironmentId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    patch:
      tags:
      - "environment"
      summary: "Patch an environment at application"
      operationId: "patchEnvironmentAtApplicationUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "environmentId"
        in: "path"
        description: "environmentId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EnvironmentId"
      - in: "body"
        name: "environmentDto"
        description: "environmentDto"
        required: true
        schema:
          $ref: "#/definitions/EnvironmentDto"
        x-exportParamName: "EnvironmentDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /directory-servers:
    get:
      tags:
      - "directory-server-controller"
      summary: "Retrieves all directory server definitions"
      operationId: "getDirectoryServersUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«DirectoryServerDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "directory-server-controller"
      summary: "Creates a new directory server definition"
      operationId: "createDirectoryServerUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "directoryServerDto"
        description: "directoryServerDto"
        required: true
        schema:
          $ref: "#/definitions/DirectoryServerDto"
        x-exportParamName: "DirectoryServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DirectoryServerDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /directory-servers/connectivity-tests:
    post:
      tags:
      - "directory-server-controller"
      summary: "Connectivity Test for Directory Server"
      operationId: "testDirectoryServerConnectivityUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "directoryServerDto"
        description: "directoryServerDto"
        required: true
        schema:
          $ref: "#/definitions/DirectoryServerDto"
        x-exportParamName: "DirectoryServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DirectoryServerDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /directory-servers/{directoryServerId}:
    get:
      tags:
      - "directory-server-controller"
      summary: "Retrieves a directory server definition"
      operationId: "getDirectoryServerUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "directoryServerId"
        in: "path"
        description: "directoryServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DirectoryServerId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DirectoryServerDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "directory-server-controller"
      summary: "Updates a directory server definition"
      operationId: "updateDirectoryServerUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "directoryServerId"
        in: "path"
        description: "directoryServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DirectoryServerId"
      - in: "body"
        name: "directoryServerDto"
        description: "directoryServerDto"
        required: true
        schema:
          $ref: "#/definitions/DirectoryServerDto"
        x-exportParamName: "DirectoryServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DirectoryServerDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "directory-server-controller"
      summary: "Deletes a directory server definition"
      operationId: "deleteDirectoryServerUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "directoryServerId"
        in: "path"
        description: "directoryServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DirectoryServerId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    patch:
      tags:
      - "directory-server-controller"
      summary: "Patches a directory server definition"
      operationId: "patchDirectoryServerUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "directoryServerId"
        in: "path"
        description: "directoryServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DirectoryServerId"
      - in: "body"
        name: "directoryServerDto"
        description: "directoryServerDto"
        required: true
        schema:
          $ref: "#/definitions/DirectoryServerDto"
        x-exportParamName: "DirectoryServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DirectoryServerDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /directory-user-groups:
    get:
      tags:
      - "directory-server-controller"
      summary: "Searches for groups to be imported, inside a given directory server"
      operationId: "getPotentialGroupsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "directory_server"
        in: "query"
        description: "directoryServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DirectoryServer"
      - name: "filter"
        in: "query"
        description: "filter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "filter_exist_entities"
        in: "query"
        description: "filterExistEntities"
        required: false
        type: "boolean"
        x-exportParamName: "FilterExistEntities"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«UserGroupDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /directory-users:
    get:
      tags:
      - "directory-server-controller"
      summary: "Searches for users to be imported, inside a given directory server"
      operationId: "getPotentialUsersUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "directory_server"
        in: "query"
        description: "directoryServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DirectoryServer"
      - name: "filter"
        in: "query"
        description: "filter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "filter_exist_entities"
        in: "query"
        description: "filterExistEntities"
        required: false
        type: "boolean"
        x-exportParamName: "FilterExistEntities"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«UserDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /dsl-manifest/attachment:
    post:
      tags:
      - "dsl"
      summary: "Import from file"
      operationId: "importEntitiesUsingPOST"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "file"
        in: "formData"
        description: "file"
        required: true
        type: "file"
        x-exportParamName: "File"
      - name: "kind"
        in: "query"
        description: "availableKinds"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Kind"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DslResponseDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /dsl-manifests:
    post:
      tags:
      - "dsl"
      summary: "Import"
      operationId: "importEntitiesUsingPOST_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "dslEntities"
        description: "dslEntities"
        required: true
        schema:
          $ref: "#/definitions/DslTemplateDto"
        x-exportParamName: "DslEntities"
      - name: "kind"
        in: "query"
        description: "availableKinds"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Kind"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DslResponseDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /email-notification-messages/{emailNotificationMessageName}/{languageTag}:
    get:
      tags:
      - "email-templates"
      summary: "Get an email message template"
      operationId: "getEmailNotificationMessageUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationMessageName"
        in: "path"
        description: "msgName"
        required: true
        type: "string"
        x-exportParamName: "EmailNotificationMessageName"
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationMessageDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "email-templates"
      summary: "Patches an email notification"
      operationId: "patchEmailNotificationMessageUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationMessageName"
        in: "path"
        description: "msgName"
        required: true
        type: "string"
        x-exportParamName: "EmailNotificationMessageName"
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      - in: "body"
        name: "emailNotificationMessageDto"
        description: "emailNotificationMessageDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationMessageDto"
        x-exportParamName: "EmailNotificationMessageDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationMessageDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /email-notification-messages/{emailNotificationMessageName}/{languageTag}/test-email:
    post:
      tags:
      - "email-templates"
      summary: "Try email notification message"
      operationId: "tryEmailNotificationMessageUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationMessageName"
        in: "path"
        description: "msgName"
        required: true
        type: "string"
        x-exportParamName: "EmailNotificationMessageName"
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      - in: "body"
        name: "emailNotificationMessageDto"
        description: "emailNotificationMessageDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationMessageDto"
        x-exportParamName: "EmailNotificationMessageDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationMessageDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /email-notification-messages/{languageTag}:
    get:
      tags:
      - "email-templates"
      summary: "Get list of email message templates"
      operationId: "getEmailNotificationMessagesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«EmailNotificationDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /email-notification-servers:
    get:
      tags:
      - "email-notification-server"
      summary: "Retrieves all email notification server definitions"
      operationId: "getEmailNotificationServersUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«EmailNotificationServerDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "email-notification-server"
      summary: "Creates a new email notification server definition"
      operationId: "createEmailNotificationServerUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "emailNotificationServerDto"
        description: "emailNotificationServerDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationServerDto"
        x-exportParamName: "EmailNotificationServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationServerDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "email-notification-server"
      summary: "Deletes all email notification definitions"
      operationId: "deleteEmailNotificationServersUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /email-notification-servers/connectivity-tests:
    post:
      tags:
      - "email-notification-server"
      summary: "Connectivity Test for email notification server"
      operationId: "testEmailNotificationServerConnectivityUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "emailNotificationServerDto"
        description: "emailNotificationServerDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationServerDto"
        x-exportParamName: "EmailNotificationServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationServerDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /email-notification-servers/{emailNotificationServerId}:
    get:
      tags:
      - "email-notification-server"
      summary: "Retrieves an email notification server definition"
      operationId: "getEmailNotificationServerUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationServerId"
        in: "path"
        description: "emailNotificationServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EmailNotificationServerId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationServerDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "email-notification-server"
      summary: "Updates an email notification server definition"
      operationId: "updateEmailNotificationServerUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationServerId"
        in: "path"
        description: "emailNotificationServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EmailNotificationServerId"
      - in: "body"
        name: "emailNotificationServerDto"
        description: "emailNotificationServerDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationServerDto"
        x-exportParamName: "EmailNotificationServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationServerDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "email-notification-server"
      summary: "Deletes an email notification definition"
      operationId: "deleteEmailNotificationServerUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationServerId"
        in: "path"
        description: "emailNotificationServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EmailNotificationServerId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    patch:
      tags:
      - "email-notification-server"
      summary: "Patches an email notification server definition"
      operationId: "patchEmailNotificationServerUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationServerId"
        in: "path"
        description: "emailNotificationServerId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EmailNotificationServerId"
      - in: "body"
        name: "emailNotificationServerDto"
        description: "emailNotificationServerDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationServerDto"
        x-exportParamName: "EmailNotificationServerDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationServerDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /email-notification-templates/{emailNotificationTemplateName}/{languageTag}:
    get:
      tags:
      - "email-templates"
      summary: "Get an email template"
      operationId: "getEmailNotificationTemplateUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationTemplateName"
        in: "path"
        description: "templateName"
        required: true
        type: "string"
        x-exportParamName: "EmailNotificationTemplateName"
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "email-templates"
      summary: "Patches an email template"
      operationId: "patchEmailNotificationTemplateUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationTemplateName"
        in: "path"
        description: "templateName"
        required: true
        type: "string"
        x-exportParamName: "EmailNotificationTemplateName"
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      - in: "body"
        name: "emailNotificationTemplateDto"
        description: "emailNotificationTemplateDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationTemplateDto"
        x-exportParamName: "EmailNotificationTemplateDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationTemplateDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /email-notification-templates/{emailNotificationTemplateName}/{languageTag}/test-email:
    post:
      tags:
      - "email-templates"
      summary: "Try email notification template"
      operationId: "tryEmailNotificationTemplateUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "emailNotificationTemplateName"
        in: "path"
        description: "templateName"
        required: true
        type: "string"
        x-exportParamName: "EmailNotificationTemplateName"
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      - in: "body"
        name: "emailNotificationTemplateDto"
        description: "emailNotificationTemplateDto"
        required: true
        schema:
          $ref: "#/definitions/EmailNotificationTemplateDto"
        x-exportParamName: "EmailNotificationTemplateDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmailNotificationTemplateDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /email-notification-templates/{languageTag}:
    get:
      tags:
      - "email-templates"
      summary: "Get list of email templates"
      operationId: "getEmailNotificationTemplatesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "languageTag"
        in: "path"
        description: "language"
        required: true
        type: "string"
        x-exportParamName: "LanguageTag"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«EmailNotificationTemplateDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /endpoint-templates:
    get:
      tags:
      - "endpoint"
      summary: "Retrieves all endPoint templates"
      operationId: "getAllEndpointTemplatesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«EndpointTemplateDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /endpoint-templates/{endpointTemplateId}:
    get:
      tags:
      - "endpoint"
      summary: "Retrieves an endPoint template"
      operationId: "getEndpointTemplateUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "endpointTemplateId"
        in: "path"
        description: "endpointTemplateId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EndpointTemplateId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EndpointTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /endpoint-templates/{endpointTemplateId}/endpoints:
    post:
      tags:
      - "endpoint"
      summary: "Creates an endPoint"
      operationId: "createEndpointUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "endpointTemplateId"
        in: "path"
        description: "endpointTemplateId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EndpointTemplateId"
      - in: "body"
        name: "endpointDto"
        description: "endpointDto"
        required: true
        schema:
          $ref: "#/definitions/EndpointDto"
        x-exportParamName: "EndpointDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EndpointDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /endpoints:
    get:
      tags:
      - "endpoint"
      summary: "Retrieves all endpoints"
      operationId: "getAllEndpointsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "plugin_template_id"
        in: "query"
        description: "pluginServiceTemplateId"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginTemplateId"
        x-optionalDataType: "Int64"
      - name: "type"
        in: "query"
        description: "pluginServiceTypeStr"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "application"
        in: "query"
        description: "applicationIds"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
        x-exportParamName: "Application"
      - name: "environment"
        in: "query"
        description: "environmentIds"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
        x-exportParamName: "Environment"
      - name: "current_user"
        in: "query"
        description: "userMustAllowedAllApplications"
        required: false
        type: "boolean"
        x-exportParamName: "CurrentUser"
        x-optionalDataType: "Bool"
      - name: "filter"
        in: "query"
        description: "freeTextFilter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«EndpointDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /endpoints/connectivity-tests:
    post:
      tags:
      - "endpoint"
      summary: "Connectivity Test for a Plugin Endpoint"
      operationId: "testEndpointConnectivityUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "endpointDto"
        description: "endpointDto"
        required: true
        schema:
          $ref: "#/definitions/EndpointDto"
        x-exportParamName: "EndpointDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EndpointDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /endpoints/dsl-manifest:
    get:
      tags:
      - "dsl"
      summary: "Export Endpoints"
      operationId: "exportEndpointsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "disposition_type"
        in: "query"
        description: "dispositionTypeDto"
        required: false
        type: "string"
        enum:
        - "INLINE"
        - "ATTACHMENT"
        x-exportParamName: "DispositionType"
        x-optionalDataType: "String"
      - name: "endpoint"
        in: "query"
        description: "endpointIds"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
        x-exportParamName: "Endpoint"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DslTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /endpoints/{endpointId}:
    get:
      tags:
      - "endpoint"
      summary: "Retrieves an endPoint"
      operationId: "getEndpointUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "endpointId"
        in: "path"
        description: "endpointId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EndpointId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EndpointDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "endpoint"
      summary: "updates an endPoint"
      operationId: "updateEndpointUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "endpointId"
        in: "path"
        description: "endpointId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EndpointId"
      - in: "body"
        name: "endpointDto"
        description: "endpointDto"
        required: true
        schema:
          $ref: "#/definitions/EndpointDto"
        x-exportParamName: "EndpointDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EndpointDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "endpoint"
      summary: "Deletes an endPoint"
      operationId: "deleteEndpointUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "endpointId"
        in: "path"
        description: "endpointId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EndpointId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /environments:
    get:
      tags:
      - "environment"
      summary: "Get all environments"
      operationId: "getAllEnvironmentsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "freeTextFilter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "page_number"
        in: "query"
        description: "pageNumber"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "is_project_specific"
        in: "query"
        description: "isProjectSpecific"
        required: false
        type: "boolean"
        x-exportParamName: "IsProjectSpecific"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PagedResultDto«EnvironmentDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /environments/dsl-manifest:
    get:
      tags:
      - "dsl"
      summary: "Export Environments"
      operationId: "exportEnvironmentsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "disposition_type"
        in: "query"
        description: "dispositionTypeDto"
        required: false
        type: "string"
        enum:
        - "INLINE"
        - "ATTACHMENT"
        x-exportParamName: "DispositionType"
        x-optionalDataType: "String"
      - name: "environment"
        in: "query"
        description: "environmentIds"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
        x-exportParamName: "Environment"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DslTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /environments/planner:
    get:
      tags:
      - "environment"
      summary: "Get calendar environment entities : phases, maintenance windows and\
        \ freeze periods"
      operationId: "getCalendarEnvironmentEntitiesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "embed"
        in: "query"
        description: "embedFields"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Embed"
      - name: "start_date"
        in: "query"
        description: "startDate"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "StartDate"
      - name: "end_date"
        in: "query"
        description: "endDate"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EndDate"
      - name: "environment"
        in: "query"
        description: "environmentIds"
        required: true
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
        x-exportParamName: "Environment"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentEntitiesDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /environments/{environmentId}:
    get:
      tags:
      - "environment"
      summary: "Get an environment"
      operationId: "getEnvironmentUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "environmentId"
        in: "path"
        description: "environmentId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EnvironmentId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "environment"
      summary: "Update an environment"
      operationId: "updateEnvironmentUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "environmentId"
        in: "path"
        description: "environmentId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EnvironmentId"
      - in: "body"
        name: "environmentDto"
        description: "environmentDto"
        required: true
        schema:
          $ref: "#/definitions/EnvironmentDto"
        x-exportParamName: "EnvironmentDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "environment"
      summary: "Patch an environment"
      operationId: "patchEnvironmentUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "environmentId"
        in: "path"
        description: "environmentId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "EnvironmentId"
      - in: "body"
        name: "environmentDto"
        description: "environmentDto"
        required: true
        schema:
          $ref: "#/definitions/EnvironmentDto"
        x-exportParamName: "EnvironmentDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EnvironmentDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /freeze-periods:
    get:
      tags:
      - "freeze-period"
      summary: "Retrieves all freeze periods"
      operationId: "getFreezePeriodsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "freeTextFilter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "page_number"
        in: "query"
        description: "pageNumber"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«FreezePeriodDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "freeze-period"
      summary: "Create freeze period entry"
      operationId: "createFreezePeriodUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "freezePeriodDto"
        description: "freezePeriodDto"
        required: true
        schema:
          $ref: "#/definitions/FreezePeriodDto"
        x-exportParamName: "FreezePeriodDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FreezePeriodDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /freeze-periods/{freezePeriodId}:
    get:
      tags:
      - "freeze-period"
      summary: "Get freeze period entry"
      operationId: "getFreezePeriodUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "freezePeriodId"
        in: "path"
        description: "freezePeriodId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FreezePeriodId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FreezePeriodDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "freeze-period"
      summary: "update freeze period"
      operationId: "updateFreezePeriodUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "freezePeriodId"
        in: "path"
        description: "freezePeriodId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FreezePeriodId"
      - in: "body"
        name: "freezePeriodDto"
        description: "freezePeriodDto"
        required: true
        schema:
          $ref: "#/definitions/FreezePeriodDto"
        x-exportParamName: "FreezePeriodDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FreezePeriodDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "freeze-period"
      summary: "Deletes freeze period entry"
      operationId: "deleteFreezePeriodUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "freezePeriodId"
        in: "path"
        description: "freezePeriodId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FreezePeriodId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    patch:
      tags:
      - "freeze-period"
      summary: "enable/disable freeze period"
      operationId: "enableDisableFreezePeriodUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "freezePeriodId"
        in: "path"
        description: "freezePeriodId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FreezePeriodId"
      - in: "body"
        name: "freezePeriodDto"
        description: "freezePeriodDto"
        required: true
        schema:
          $ref: "#/definitions/FreezePeriodDto"
        x-exportParamName: "FreezePeriodDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FreezePeriodDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /invitations:
    post:
      tags:
      - "invitation-controller"
      summary: "inviteUsers"
      operationId: "inviteUsersUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "invitationDto"
        description: "invitationDto"
        required: true
        schema:
          $ref: "#/definitions/InvitationDto"
        x-exportParamName: "InvitationDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/InvitationDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /maintenance-windows:
    get:
      tags:
      - "maintenance-window"
      summary: "Retrieves all maintenance windows"
      operationId: "getMaintenanceWindowsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "freeTextFilter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«MaintenanceWindowDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "maintenance-window"
      summary: "Creates a maintenance window"
      operationId: "createMaintenanceWindowUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "maintenanceWindowDto"
        description: "maintenanceWindowDto"
        required: true
        schema:
          $ref: "#/definitions/MaintenanceWindowDto"
        x-exportParamName: "MaintenanceWindowDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MaintenanceWindowDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /maintenance-windows/{maintenanceWindowId}:
    get:
      tags:
      - "maintenance-window"
      summary: "Retrieves a maintenance window"
      operationId: "getMaintenanceWindowUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "maintenanceWindowId"
        in: "path"
        description: "maintenanceWindowId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MaintenanceWindowId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MaintenanceWindowDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "maintenance-window"
      summary: "Updates a maintenance window"
      operationId: "updateMaintenanceWindowUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "maintenanceWindowId"
        in: "path"
        description: "maintenanceWindowId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MaintenanceWindowId"
      - in: "body"
        name: "maintenanceWindowDto"
        description: "maintenanceWindowDto"
        required: true
        schema:
          $ref: "#/definitions/MaintenanceWindowDto"
        x-exportParamName: "MaintenanceWindowDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MaintenanceWindowDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "maintenance-window"
      summary: "Deletes a maintenance window"
      operationId: "deleteMaintenanceWindowUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "maintenanceWindowId"
        in: "path"
        description: "maintenanceWindowId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MaintenanceWindowId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
    patch:
      tags:
      - "maintenance-window"
      summary: "Changes a maintenance window"
      operationId: "patchMaintenanceWindowUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "maintenanceWindowId"
        in: "path"
        description: "maintenanceWindowId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MaintenanceWindowId"
      - in: "body"
        name: "maintenanceWindowDto"
        description: "maintenanceWindowDto"
        required: true
        schema:
          $ref: "#/definitions/MaintenanceWindowDto"
        x-exportParamName: "MaintenanceWindowDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MaintenanceWindowDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /parties:
    get:
      tags:
      - "parties"
      summary: "Retrieves all users and user-groups"
      operationId: "getPartiesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "filter"
        in: "query"
        description: "freeTextFilter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "in_project_context"
        in: "query"
        description: "inProjectContext"
        required: false
        type: "boolean"
        x-exportParamName: "InProjectContext"
        x-optionalDataType: "Bool"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "page_number"
        in: "query"
        description: "pageNumber"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PagedResultDto«PartyDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /payment-plans:
    get:
      tags:
      - "payment-plan-controller"
      summary: "redirectToPurchasePlan"
      operationId: "redirectToPurchasePlanUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "plan"
        in: "query"
        description: "paymentPlan"
        required: false
        type: "string"
        x-exportParamName: "Plan"
        x-optionalDataType: "String"
      responses:
        200:
          description: "OK"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "payment-plan-controller"
      summary: "handleChargifyWebhook"
      operationId: "handleChargifyWebhookUsingPOST"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "payload"
        in: "formData"
        description: "payload"
        required: true
        type: "ref"
        x-exportParamName: "Payload"
      responses:
        200:
          description: "OK"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /payment-plans/current:
    get:
      tags:
      - "payment-plan-controller"
      summary: "getCurrentPaymentPlan"
      operationId: "getCurrentPaymentPlanUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentPlanDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /payment-plans/subscription:
    get:
      tags:
      - "payment-plan-controller"
      summary: "createFirstSubscription"
      operationId: "createFirstSubscriptionUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "query"
        description: "subscriptionId"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "ref"
        in: "query"
        description: "tenantId"
        required: true
        type: "string"
        x-exportParamName: "Ref"
      responses:
        200:
          description: "OK"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /permissions:
    get:
      tags:
      - "permissions"
      summary: "Get permissions"
      operationId: "getPermissionsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "is_project_specific"
        in: "query"
        description: "isProjectSpecific"
        required: false
        type: "boolean"
        x-exportParamName: "IsProjectSpecific"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«PermissionDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /plugin-service-templates:
    get:
      tags:
      - "plugin-service"
      summary: "Retrieves all plugin service templates"
      operationId: "getAllPluginServiceTemplatesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "pluginServiceTypeStr"
        required: true
        type: "string"
        x-exportParamName: "Type_"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«PluginServiceTemplateDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /plugin-service-templates/{pluginServiceTemplateId}:
    get:
      tags:
      - "plugin-service"
      summary: "Retrieves a plugin service template"
      operationId: "getPluginServiceTemplateUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginServiceTemplateId"
        in: "path"
        description: "pluginServiceTemplateId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginServiceTemplateId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PluginServiceTemplateDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /plugin-service-templates/{pluginServiceTemplateId}/plugin-service-template-parameters/{pluginServiceTemplateParameterId}:
    post:
      tags:
      - "plugin-service"
      summary: "Retrieves a plugin service template parameter dynamic values"
      operationId: "getPluginServiceTemplateParameterUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginServiceTemplateId"
        in: "path"
        description: "pluginServiceTemplateId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginServiceTemplateId"
      - name: "pluginServiceTemplateParameterId"
        in: "path"
        description: "pluginServiceTemplateParameterId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginServiceTemplateParameterId"
      - name: "filter"
        in: "query"
        description: "freeTextFilter"
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "page_number"
        in: "query"
        description: "pageNumber"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - in: "body"
        name: "dynamicValuesDto"
        description: "dynamicValuesDto"
        required: true
        schema:
          $ref: "#/definitions/DynamicValuesInputDto"
        x-exportParamName: "DynamicValuesDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PagedResultDto«PairDto»"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /plugin-services/{pluginServiceId}:
    get:
      tags:
      - "plugin-service"
      summary: "Retrieves a plugin service"
      operationId: "getPluginServiceUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginServiceId"
        in: "path"
        description: "pluginServiceId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginServiceId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PluginServiceDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /plugins:
    get:
      tags:
      - "plugin-service"
      summary: "Retrieves all plugins"
      operationId: "getAllPluginsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«PluginDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "plugin-service"
      summary: "Registers a plugin by URL"
      operationId: "registerPluginUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "pluginUrlDto"
        description: "pluginUrlDto"
        required: true
        schema:
          $ref: "#/definitions/PluginUrlDto"
        x-exportParamName: "PluginUrlDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PluginDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /plugins/{pluginId}:
    get:
      tags:
      - "plugin-service"
      summary: "Retrieves a plugin"
      operationId: "getPluginUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginId"
        in: "path"
        description: "pluginId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PluginDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "plugin-service"
      summary: "Edit a plugin manifest URL"
      operationId: "editPluginManifestUrlUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginId"
        in: "path"
        description: "pluginId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginId"
      - in: "body"
        name: "pluginDto"
        description: "pluginDto"
        required: true
        schema:
          $ref: "#/definitions/PluginDto"
        x-exportParamName: "PluginDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PluginDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "plugin-service"
      summary: "Deletes a plugin"
      operationId: "deletePluginUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginId"
        in: "path"
        description: "pluginId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginId"
      responses:
        200:
          description: "OK"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /plugins/{pluginId}/icon:
    get:
      tags:
      - "plugin-service"
      summary: "Retrieves a plugin's icon"
      operationId: "getPluginIconUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginId"
        in: "path"
        description: "pluginId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginId"
      responses:
        200:
          description: "OK"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /plugins/{pluginId}/sync:
    patch:
      tags:
      - "plugin-service"
      summary: "Sync a plugin"
      operationId: "syncPluginUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "pluginId"
        in: "path"
        description: "pluginId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PluginId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PluginDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /product/customer-feedback:
    post:
      tags:
      - "product"
      summary: "Creates a customer feedback"
      operationId: "createCustomerFeedbackUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "messageDto"
        description: "messageDto"
        required: true
        schema:
          $ref: "#/definitions/MessageDto"
        x-exportParamName: "MessageDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MessageDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /product/license:
    get:
      tags:
      - "product"
      summary: "Retrieves portfolio license agreement info"
      operationId: "getPortfolioLicensingAgreementUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PortfolioLicensingAgreementDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    post:
      tags:
      - "product"
      summary: "Creates portfolio license agreement info"
      operationId: "createPortfolioLicensingAgreementUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "plaDto"
        description: "plaDto"
        required: true
        schema:
          $ref: "#/definitions/PortfolioLicensingAgreementDto"
        x-exportParamName: "PlaDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PortfolioLicensingAgreementDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    put:
      tags:
      - "product"
      summary: "Updates portfolio license agreement info"
      operationId: "updatePortfolioLicensingAgreementUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "plaDto"
        description: "plaDto"
        required: true
        schema:
          $ref: "#/definitions/PortfolioLicensingAgreementDto"
        x-exportParamName: "PlaDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PortfolioLicensingAgreementDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "product"
      summary: "Patch portfolio license agreement site id"
      operationId: "patchPortfolioLicensingAgreementUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "tenant_id"
        in: "query"
        description: "targetTenantId"
        required: false
        type: "string"
        x-exportParamName: "TenantId"
        x-optionalDataType: "String"
      - in: "body"
        name: "plaDto"
        description: "plaDto"
        required: true
        schema:
          $ref: "#/definitions/PortfolioLicensingAgreementDto"
        x-exportParamName: "PlaDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PortfolioLicensingAgreementDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /product/license/activities:
    get:
      tags:
      - "product"
      summary: "Retrieves portfolio license agreement activities"
      operationId: "getLicenseActivitiesUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "start_date"
        in: "query"
        description: "startDate"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Int64"
      - name: "end_date"
        in: "query"
        description: "endDate"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Int64"
      - name: "page_number"
        in: "query"
        description: "pageNumber"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PagedResultDto«LicenseActivityDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /product/settings/database-server-settings:
    get:
      tags:
      - "db-settings"
      summary: "Get DB settings"
      operationId: "getDbSettingsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DbPropertiesSettingsDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "db-settings"
      summary: "Update DB settings"
      operationId: "updateDbSettingsUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "dbSettingsDto"
        description: "dbSettingsDto"
        required: true
        schema:
          $ref: "#/definitions/DbPropertiesSettingsDto"
        x-exportParamName: "DbSettingsDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/DbPropertiesSettingsDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /product/settings/home-folder/files:
    get:
      tags:
      - "log-files"
      summary: "Fetch log files"
      operationId: "getLogsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "page_size"
        in: "query"
        description: "pageSize"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "page_number"
        in: "query"
        description: "pageNumber"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "folder"
        in: "query"
        description: "requestedFolder"
        required: false
        type: "string"
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "disposition_type"
        in: "query"
        description: "dispositionTypeDto"
        required: false
        type: "string"
        enum:
        - "INLINE"
        - "ATTACHMENT"
        x-exportParamName: "DispositionType"
        x-optionalDataType: "String"
      responses:
        200:
          description: "OK"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /product/settings/system-preferences:
    get:
      tags:
      - "system-preferences"
      summary: "Get System Preferences"
      operationId: "getSystemPreferencesDtoUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "system_preference"
        in: "query"
        description: "systemPreference"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "SystemPreference"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/SystemPreferencesDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "system-preferences"
      summary: "Set System Preferences"
      operationId: "updateSystemPreferencesDtoUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
[...]
