---
swagger: "2.0"
info:
  description: "Retrieves and changes execution data"
  version: "v1"
  title: "EXECUTION"
  termsOfService: "dd"
  contact: {}
  license: {}
host: "cddirector.io"
basePath: "/cdd/execution/0000/v1"
tags:
- name: "execution"
  description: "All action regarding the execution"
paths:
  /releases-execution/{releaseId}:
    get:
      tags:
      - "execution"
      summary: "Retrieves a release execution"
      operationId: "getReleaseExecutionUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ReleaseExecutionDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "execution"
      summary: "Changes a release execution"
      operationId: "changeReleaseExecutionUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - in: "body"
        name: "releaseExecution"
        description: "releaseExecution"
        required: true
        schema:
          $ref: "#/definitions/ReleaseExecutionDto"
        x-exportParamName: "ReleaseExecution"
      - name: "force"
        in: "query"
        description: "isForce"
        required: false
        type: "boolean"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ReleaseExecutionDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /releases-execution/{releaseId}/manifests:
    post:
      tags:
      - "execution"
      summary: "Creates a release execution manifest"
      operationId: "createReleaseManifestUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - in: "body"
        name: "releaseManifestDto"
        description: "releaseManifestDto"
        required: true
        schema:
          $ref: "#/definitions/ReleaseManifestDto"
        x-exportParamName: "ReleaseManifestDto"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ReleaseManifestDto"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /releases-execution/{releaseId}/manifests/{manifestId}:
    get:
      tags:
      - "execution"
      summary: "Gets a release execution manifest"
      operationId: "getReleaseManifestUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - name: "manifestId"
        in: "path"
        description: "manifestId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ManifestId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/IdentifiableDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    delete:
      tags:
      - "execution"
      summary: "Deletes a release execution manifest"
      operationId: "deleteReleaseManifestUsingDELETE"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - name: "manifestId"
        in: "path"
        description: "manifestId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ManifestId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/IdentifiableDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /releases-execution/{releaseId}/phases-execution:
    get:
      tags:
      - "execution"
      summary: "Retrieves all phases execution"
      operationId: "getPhasesExecutionUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«PhaseExecutionDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /releases-execution/{releaseId}/phases-execution/{phaseId}:
    get:
      tags:
      - "execution"
      summary: "Retrieves a phase execution"
      operationId: "getPhaseExecutionUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - name: "phaseId"
        in: "path"
        description: "phaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PhaseId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PhaseExecutionDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "execution"
      summary: "Changes a phase execution"
      operationId: "changePhaseExecutionUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - name: "phaseId"
        in: "path"
        description: "phaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PhaseId"
      - in: "body"
        name: "phaseExceution"
        description: "phaseExceution"
        required: true
        schema:
          $ref: "#/definitions/PhaseExecutionDto"
        x-exportParamName: "PhaseExceution"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PhaseExecutionDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /releases-execution/{releaseId}/phases-execution/{phaseId}/tasks-execution:
    get:
      tags:
      - "execution"
      summary: "Get all phase tasks execution"
      operationId: "getAllPhaseTasksExecutionUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - name: "phaseId"
        in: "path"
        description: "phaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PhaseId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ListHolderDto«TaskExecutionDto»"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
  /releases-execution/{releaseId}/phases-execution/{phaseId}/tasks-execution/{taskId}:
    get:
      tags:
      - "execution"
      summary: "Get a task execution"
      operationId: "getTaskExecutionUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - name: "phaseId"
        in: "path"
        description: "phaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PhaseId"
      - name: "taskId"
        in: "path"
        description: "taskId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TaskId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TaskExecutionDto"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
    patch:
      tags:
      - "execution"
      summary: "Change a task execution"
      operationId: "changeTaskExecutionUsingPATCH"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseId"
        in: "path"
        description: "releaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReleaseId"
      - name: "phaseId"
        in: "path"
        description: "phaseId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "PhaseId"
      - name: "taskId"
        in: "path"
        description: "taskId"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TaskId"
      - in: "body"
        name: "taskExceution"
        description: "taskExceution"
        required: true
        schema:
          $ref: "#/definitions/TaskExecutionDto"
        x-exportParamName: "TaskExceution"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TaskExecutionDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
  /releases-execution/{releaseName}/{releaseVersionName}/phases-execution/{phaseName}:
    patch:
      tags:
      - "execution"
      summary: "Change a phase execution"
      operationId: "changePhaseExecutionUsingPATCH_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "releaseName"
        in: "path"
        description: "releaseName"
        required: true
        type: "string"
        x-exportParamName: "ReleaseName"
      - name: "releaseVersionName"
        in: "path"
        description: "releaseVersion"
        required: true
        type: "string"
        x-exportParamName: "ReleaseVersionName"
      - name: "phaseName"
        in: "path"
        description: "phaseName"
        required: true
        type: "string"
        x-exportParamName: "PhaseName"
      - in: "body"
        name: "phaseExecution"
        description: "phaseExecution"
        required: true
        schema:
          $ref: "#/definitions/PhaseExecutionDto"
        x-exportParamName: "PhaseExecution"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PhaseExecutionDto"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
definitions:
  NamedVersionedIdentifiableDto:
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      project:
        $ref: "#/definitions/NamedIdentifiableDto"
      version:
        type: "string"
    example:
      name: "name"
      project:
        name: "name"
        id: 5
      id: 6
      version: "version"
  BasicPluginServiceParameterDto«object»:
    properties:
      className:
        type: "string"
      id:
        type: "integer"
        format: "int64"
      templateParameterId:
        type: "integer"
        format: "int64"
      value:
        type: "object"
        properties: {}
      valueId:
        type: "string"
    example:
      valueId: "valueId"
      className: "className"
      templateParameterId: 2
      id: 5
      value: "{}"
  StrategyDto:
    properties:
      name:
        type: "string"
    example:
      name: "name"
  UserDto:
    properties:
      description:
        type: "string"
      directoryServerId:
        type: "integer"
        format: "int64"
      dn:
        type: "string"
      email:
        type: "string"
      firstName:
        type: "string"
      id:
        type: "integer"
        format: "int64"
      isSystem:
        type: "boolean"
      language:
        $ref: "#/definitions/LanguageDto"
      lastName:
        type: "string"
      name:
        type: "string"
      notificationSeverity:
        type: "string"
        enum:
        - "INFORMATION"
        - "WARNING"
        - "ERROR"
        - "OFF"
      password:
        type: "string"
      superUser:
        type: "boolean"
    example:
      lastName: "lastName"
      description: "description"
      dn: "dn"
      language:
        name: "name"
        description: "description"
        id: 1
      superUser: true
      isSystem: true
      firstName: "firstName"
      password: "password"
      notificationSeverity: "INFORMATION"
      directoryServerId: 0
      name: "name"
      id: 6
      email: "email"
  CommitFilesDto:
    properties:
      commitId:
        type: "string"
      files:
        type: "array"
        items:
          $ref: "#/definitions/CommitChangeFileDto"
    example:
      files:
      - filename: "filename"
        isExcluded: true
        testSuites:
        - applicationVersion:
            name: "name"
            id: 5
          strategies:
          - name: "name"
          - name: "name"
          externalId: "externalId"
          creationDate: 7
          basicPlugin:
            name: "name"
            description: "description"
            iconUrl: "iconUrl"
            id: 6
            version: "version"
          tags:
          - "tags"
          - "tags"
          endpoint:
            name: "name"
            id: 5
          endpointParameters:
            key: "endpointParameters"
          application:
            name: "name"
            id: 5
          importDate: 1
          name: "name"
          id: "id"
          testSource:
            name: "name"
            id: 5
          testSuiteModificationDate: 4
          testSourceParameters:
            key: "testSourceParameters"
          isRecentlyFailedTestSuite: true
          isFavorite: true
        - applicationVersion:
            name: "name"
            id: 5
          strategies:
          - name: "name"
          - name: "name"
          externalId: "externalId"
          creationDate: 7
          basicPlugin:
            name: "name"
            description: "description"
            iconUrl: "iconUrl"
            id: 6
            version: "version"
          tags:
          - "tags"
          - "tags"
          endpoint:
            name: "name"
            id: 5
          endpointParameters:
            key: "endpointParameters"
          application:
            name: "name"
            id: 5
          importDate: 1
          name: "name"
          id: "id"
          testSource:
            name: "name"
            id: 5
          testSuiteModificationDate: 4
          testSourceParameters:
            key: "testSourceParameters"
          isRecentlyFailedTestSuite: true
          isFavorite: true
        changeId: "changeId"
        commitId: "commitId"
        id: "id"
        isCovered: true
      - filename: "filename"
        isExcluded: true
        testSuites:
        - applicationVersion:
            name: "name"
            id: 5
          strategies:
          - name: "name"
          - name: "name"
          externalId: "externalId"
          creationDate: 7
          basicPlugin:
            name: "name"
            description: "description"
            iconUrl: "iconUrl"
            id: 6
            version: "version"
          tags:
          - "tags"
          - "tags"
          endpoint:
            name: "name"
            id: 5
          endpointParameters:
            key: "endpointParameters"
          application:
            name: "name"
            id: 5
          importDate: 1
          name: "name"
          id: "id"
          testSource:
            name: "name"
            id: 5
          testSuiteModificationDate: 4
          testSourceParameters:
            key: "testSourceParameters"
          isRecentlyFailedTestSuite: true
          isFavorite: true
        - applicationVersion:
            name: "name"
            id: 5
          strategies:
          - name: "name"
          - name: "name"
          externalId: "externalId"
          creationDate: 7
          basicPlugin:
            name: "name"
            description: "description"
            iconUrl: "iconUrl"
            id: 6
            version: "version"
          tags:
          - "tags"
          - "tags"
          endpoint:
            name: "name"
            id: 5
          endpointParameters:
            key: "endpointParameters"
          application:
            name: "name"
            id: 5
          importDate: 1
          name: "name"
          id: "id"
          testSource:
            name: "name"
            id: 5
          testSuiteModificationDate: 4
          testSourceParameters:
            key: "testSourceParameters"
          isRecentlyFailedTestSuite: true
          isFavorite: true
        changeId: "changeId"
        commitId: "commitId"
        id: "id"
        isCovered: true
      commitId: "commitId"
  TaskExecutionDto:
    properties:
      allowedStatuses:
        type: "array"
        items:
          type: "string"
          enum:
          - "DESIGN"
          - "READY"
          - "PENDING"
          - "RUNNING"
          - "FAILED"
          - "SKIPPED"
          - "DONE"
          - "DEFERRED"
          - "STOPPED"
          - "RUNNING_WITH_DETAILED_STATUS"
      denyRerunReason:
        type: "string"
        enum:
        - "PHASE_CONTAINS_TASK_WITH_MISSING_PARAMS"
        - "RELEASE_NOT_IN_EXECUTION_STATE"
        - "TRANSITION_DOES_NOT_EXIST"
        - "ALREADY_IN_STATE"
        - "PHASE_NOT_APPROVED_TO_RUN"
        - "MAX_ALLOWED_RUNNING_RELEASES_REACHED"
        - "PHASE_IS_ASSOCIATED_TO_PRODUCTION_OF_RELEASE_TRACK"
        - "PHASE_IS_ASSOCIATED_TO_REQUIRED_APPROVE_MILESTONE"
        - "RELEASE_ASSOCIATED_TO_ACTIVE_RELEASE_TRACK"
        - "PHASE_NOT_IN_EXECUTION_STATE"
        - "TASK_MISSING_PARAMS"
        - "ON_FAILURE_PHASE_IS_RUNNING"
        - "CALLER_OF_ON_ERROR_PHASE_IS_RUNNING"
      deployedApplicationVersions:
        type: "array"
        items:
          $ref: "#/definitions/ApplicationVersionDto"
      detailedStatusDescription:
        type: "string"
      detailedStatusDescriptionJson:
        type: "object"
        properties: {}
      detailedStatusSeverity:
        type: "string"
        enum:
        - "INFORMATION"
        - "WARNING"
        - "ERROR"
      endDate:
        type: "integer"
        format: "int64"
      id:
        type: "integer"
        format: "int64"
      percentCompleted:
        type: "number"
        format: "float"
      phaseId:
        type: "integer"
        format: "int64"
      startDate:
        type: "integer"
        format: "int64"
      status:
        type: "string"
        enum:
        - "DESIGN"
        - "READY"
        - "PENDING"
        - "RUNNING"
        - "FAILED"
        - "SKIPPED"
        - "DONE"
        - "DEFERRED"
        - "STOPPED"
        - "RUNNING_WITH_DETAILED_STATUS"
      statusDescription:
        type: "string"
      taskExecutionDisabled:
        type: "boolean"
      taskId:
        type: "integer"
        format: "int64"
    example:
      percentCompleted: 1.284659
      deployedApplicationVersions:
      - contentSource:
          pluginService:
            endpoint:
              name: "name"
              id: 5
            plugin:
              pluginId: 1
              connectivityTest: true
              description: "description"
              fileSource: true
              pluginServiceTemplates:
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              endpointTemplate:
                serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              numOfTasks: 1
              version: "version"
              content: true
              applicationModel: true
              lastSync: 7
              isUseProxy: true
              vendor: "vendor"
              name: "name"
              commitSource: true
              iconUrl: "iconUrl"
              id: 4
              testSource: true
              discoveryUrl: "discoveryUrl"
            templateName: "templateName"
            name: "name"
            description: "description"
            id: 5
            templateId: 1
            parameters:
            - valueId: "valueId"
              className: "className"
              templateParameterId: 2
              id: 5
              value: "{}"
            - valueId: "valueId"
              className: "className"
              templateParameterId: 2
              id: 5
              value: "{}"
            isMissingParameters: true
          name: "name"
          contentItems:
          - contentSourceId: 5
            release:
              name: "name"
              project:
                name: "name"
                id: 5
              id: 6
              version: "version"
            parentContentItem:
              id: 6
            externalId: "externalId"
            contentItemUrl: "contentItemUrl"
            content: "content"
            hierarchyPath: "hierarchyPath"
            parentExternalId: "parentExternalId"
            displayType: "displayType"
            endpoint:
              name: "name"
              id: 5
            plugin:
              name: "name"
              id: 5
            lastImportDate: 9
            commitFiles:
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            contentItemConflict: "PROGRESS_OF_UNPLANNED_WORK_ITEM"
            id: 9
            displayId: "displayId"
            isConflictEnable: true
            contentType: "contentType"
            status: "status"
          - contentSourceId: 5
            release:
              name: "name"
              project:
                name: "name"
                id: 5
              id: 6
              version: "version"
            parentContentItem:
              id: 6
            externalId: "externalId"
            contentItemUrl: "contentItemUrl"
            content: "content"
            hierarchyPath: "hierarchyPath"
            parentExternalId: "parentExternalId"
            displayType: "displayType"
            endpoint:
              name: "name"
              id: 5
            plugin:
              name: "name"
              id: 5
            lastImportDate: 9
            commitFiles:
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            contentItemConflict: "PROGRESS_OF_UNPLANNED_WORK_ITEM"
            id: 9
            displayId: "displayId"
            isConflictEnable: true
            contentType: "contentType"
            status: "status"
          description: "description"
          id: 8
        application:
          name: "name"
          id: 5
        dependsOn:
        - null
        - null
        name: "name"
        commitSource:
          includeFilesAndFolders: "includeFilesAndFolders"
          pluginService:
            endpoint:
              name: "name"
              id: 5
            plugin:
              pluginId: 1
              connectivityTest: true
              description: "description"
              fileSource: true
              pluginServiceTemplates:
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              endpointTemplate:
                serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              numOfTasks: 1
              version: "version"
              content: true
              applicationModel: true
              lastSync: 7
              isUseProxy: true
              vendor: "vendor"
              name: "name"
              commitSource: true
              iconUrl: "iconUrl"
              id: 4
              testSource: true
              discoveryUrl: "discoveryUrl"
            templateName: "templateName"
            name: "name"
            description: "description"
            id: 5
            templateId: 1
            parameters:
            - valueId: "valueId"
              className: "className"
              templateParameterId: 2
              id: 5
              value: "{}"
            - valueId: "valueId"
              className: "className"
              templateParameterId: 2
              id: 5
              value: "{}"
            isMissingParameters: true
          lastImportDate: 1
          commitRegularExpression: "commitRegularExpression"
          name: "name"
          description: "description"
          excludeFilesAndFolders: "excludeFilesAndFolders"
          id: 6
          creationDate: 0
        commitId: "commitId"
        id: 6
        creationDate: 9
        buildNumber: "buildNumber"
        dependentBy:
        - null
        - null
        basedOn:
          name: "name"
          id: 5
      - contentSource:
          pluginService:
            endpoint:
              name: "name"
              id: 5
            plugin:
              pluginId: 1
              connectivityTest: true
              description: "description"
              fileSource: true
              pluginServiceTemplates:
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              endpointTemplate:
                serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              numOfTasks: 1
              version: "version"
              content: true
              applicationModel: true
              lastSync: 7
              isUseProxy: true
              vendor: "vendor"
              name: "name"
              commitSource: true
              iconUrl: "iconUrl"
              id: 4
              testSource: true
              discoveryUrl: "discoveryUrl"
            templateName: "templateName"
            name: "name"
            description: "description"
            id: 5
            templateId: 1
            parameters:
            - valueId: "valueId"
              className: "className"
              templateParameterId: 2
              id: 5
              value: "{}"
            - valueId: "valueId"
              className: "className"
              templateParameterId: 2
              id: 5
              value: "{}"
            isMissingParameters: true
          name: "name"
          contentItems:
          - contentSourceId: 5
            release:
              name: "name"
              project:
                name: "name"
                id: 5
              id: 6
              version: "version"
            parentContentItem:
              id: 6
            externalId: "externalId"
            contentItemUrl: "contentItemUrl"
            content: "content"
            hierarchyPath: "hierarchyPath"
            parentExternalId: "parentExternalId"
            displayType: "displayType"
            endpoint:
              name: "name"
              id: 5
            plugin:
              name: "name"
              id: 5
            lastImportDate: 9
            commitFiles:
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            contentItemConflict: "PROGRESS_OF_UNPLANNED_WORK_ITEM"
            id: 9
            displayId: "displayId"
            isConflictEnable: true
            contentType: "contentType"
            status: "status"
          - contentSourceId: 5
            release:
              name: "name"
              project:
                name: "name"
                id: 5
              id: 6
              version: "version"
            parentContentItem:
              id: 6
            externalId: "externalId"
            contentItemUrl: "contentItemUrl"
            content: "content"
            hierarchyPath: "hierarchyPath"
            parentExternalId: "parentExternalId"
            displayType: "displayType"
            endpoint:
              name: "name"
              id: 5
            plugin:
              name: "name"
              id: 5
            lastImportDate: 9
            commitFiles:
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            - files:
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              - filename: "filename"
                isExcluded: true
                testSuites:
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                - applicationVersion:
                    name: "name"
                    id: 5
                  strategies:
                  - name: "name"
                  - name: "name"
                  externalId: "externalId"
                  creationDate: 7
                  basicPlugin:
                    name: "name"
                    description: "description"
                    iconUrl: "iconUrl"
                    id: 6
                    version: "version"
                  tags:
                  - "tags"
                  - "tags"
                  endpoint:
                    name: "name"
                    id: 5
                  endpointParameters:
                    key: "endpointParameters"
                  application:
                    name: "name"
                    id: 5
                  importDate: 1
                  name: "name"
                  id: "id"
                  testSource:
                    name: "name"
                    id: 5
                  testSuiteModificationDate: 4
                  testSourceParameters:
                    key: "testSourceParameters"
                  isRecentlyFailedTestSuite: true
                  isFavorite: true
                changeId: "changeId"
                commitId: "commitId"
                id: "id"
                isCovered: true
              commitId: "commitId"
            contentItemConflict: "PROGRESS_OF_UNPLANNED_WORK_ITEM"
            id: 9
            displayId: "displayId"
            isConflictEnable: true
            contentType: "contentType"
            status: "status"
          description: "description"
          id: 8
        application:
          name: "name"
          id: 5
        dependsOn:
        - null
        - null
        name: "name"
        commitSource:
          includeFilesAndFolders: "includeFilesAndFolders"
          pluginService:
            endpoint:
              name: "name"
              id: 5
            plugin:
              pluginId: 1
              connectivityTest: true
              description: "description"
              fileSource: true
              pluginServiceTemplates:
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              - serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              endpointTemplate:
                serviceType: "serviceType"
                isPluginEndpointExist: true
                pluginName: "pluginName"
                pluginId: 9
                templateParameters:
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                - possibleValues:
                  - parameters:
                    - null
                    - null
                    value: "value"
                  - parameters:
                    - null
                    - null
                    value: "value"
                  defaultValue: "defaultValue"
                  displayName: "displayName"
                  description: "description"
                  parameterDependencies:
                  - "parameterDependencies"
                  - "parameterDependencies"
                  isOptional: true
                  type: "STRING"
                  url: "url"
                  parameterOrder: 2
                  displayType: "STRING"
                  name: "name"
                  id: 3
                  parameterMethod: "IMPORT"
                  direction: "INPUT_PARAMETER"
                  multipleSelection: true
                name: "name"
                pluginEndpointsOptional: true
                description: "description"
                isTaggable: true
                id: 7
                url: "url"
              numOfTasks: 1
              version: "version"
              content: true
              applicationModel: true
              lastSync: 7
              isUseProxy: true
              vendor: "vendor"
              name: "name"
              commitSource: true
              iconUrl: "iconUrl"
[...]
